<div class="container my-4">
  
  <!-- Modal de creación de usuario -->
  <div class="modal fade" id="crearUsuario">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title text-success" id="exampleModalLabel">Nuevo Usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="usuarioForm" (ngSubmit)="submitForm()">
            <div class="mb-3">
              <label for="NombreUsuario" class="form-label text-success">Nombre:</label>
              <input id="NombreUsuario" formControlName="NombreUsuario" type="text" class="form-control" />
              <div *ngIf="usuarioForm.get('NombreUsuario')?.invalid && usuarioForm.get('NombreUsuario')?.touched"
                   class="text-danger">
                Nombre es requerido
              </div>
            </div>

            <div class="mb-3">
              <label for="Selecciongrupo" class="form-label text-success">Grupos:</label>
              <select id="Selecciongrupo" formControlName="Grupo" class="form-select">
                <option disabled>Seleccione el grupo</option>
                <option *ngFor="let rol of roles" value="{{rol.IdGrupo}}">{{rol.Descripcion}}</option>
              </select>
              <div *ngIf="usuarioForm.get('Grupo')?.invalid && usuarioForm.get('Grupo')?.touched"
                   class="text-danger">
                Grupo es requerido
              </div>
            </div>

            <div class="mb-3">
              <label for="Mail" class="form-label text-success">Mail:</label>
              <input id="Mail" formControlName="Mail" type="email" class="form-control" />
              <div *ngIf="usuarioForm.get('Mail')?.invalid && usuarioForm.get('Mail')?.touched"
                   class="text-danger">
                Ingresa un email válido
              </div>
            </div>

            <div class="mb-3">
              <label for="Clave" class="form-label text-success">Clave:</label>
              <input id="Clave" formControlName="Clave" type="password" class="form-control" />
              <div *ngIf="usuarioForm.get('Clave')?.invalid && usuarioForm.get('Clave')?.touched"
                   class="text-danger">
                La clave debe tener al menos 6 caracteres
              </div>
            </div>

            <button type="submit" [disabled]="usuarioForm.invalid" class="btn btn-success w-100">Enviar</button>
          </form>
        </div>
        <div class="modal-footer bg-light">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Tabla de usuarios -->
  <h2 class="text-center text-success mt-5">Lista de Usuarios Registrados</h2>

   <!-- Botón para abrir el modal de creación de usuario -->
   <div class="text-center mb-3">
    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#crearUsuario">
      Agregar Usuario
    </button>
  </div>
  <div class="table-responsive w-100">
    <table class="table  table-bordered table-striped table-hover text-center">
      <thead class="table-success">
        <tr>
          <th scope="col">IdUsuarios</th>
          <th scope="col">Nombre</th>
          <th scope="col">Grupo</th>
          <th scope="col">Mail</th>
          <th scope="col">Clave</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{ usuario.IdUsuarios }}</td>
          <td>{{ usuario.NombreUsuario }}</td>
          <td>{{ usuario.Descripcion }}</td>
          <td>{{ usuario.Mail }}</td>
          <td>{{ usuario.Clave }}</td>
          <td>
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                    (click)="editarUsuario(usuario)" data-bs-target="#modificarUsuario"><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="border_color"></mat-icon>
                  </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal de modificación de usuario -->
  <div class="modal fade" id="modificarUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title text-success" id="exampleModalLabel">Modificar Usuario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="modificarUsuarioForm" (ngSubmit)="submitModificarForm()">
            <div class="mb-3">
              <label for="modificarNombre" class="form-label text-success">Nombre:</label>
              <input id="modificarNombre" formControlName="NombreUsuario" type="text" class="form-control">
            </div>
            <div class="mb-3">
              <label for="modificarMail" class="form-label text-success">Mail:</label>
              <input id="modificarMail" formControlName="Mail" type="email" class="form-control">
            </div>
            <div class="mb-3">
              <label for="modificarClave" class="form-label text-success">Clave:</label>
              <input id="modificarClave" formControlName="Clave" type="password" class="form-control">
            </div>
            <button type="submit" [disabled]="modificarUsuarioForm.invalid" class="btn btn-success w-100">Guardar Cambios</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
