/* Configuración del contenedor principal en flex */
.main-container {
    display: flex;
    height: calc(100vh - 64px); /* Altura ajustada para ocupar el espacio restante */
    overflow: hidden; /* Evita que el contenido desborde y afecte el tamaño del sidebar */
}

.app-container {
    height: 100%;
    display: flex;
}

.app-sidenav {
    background-color: #A8CF45; /* Verde para todo el sidenav */
    width: 275px; /* Ancho fijo para evitar que cambie */
    height: 100vh;
    padding-top: 20px;
    flex-shrink: 0; /* Evita que el sidenav se encoja */
}

/* Coloca el fondo verde en todos los elementos dentro del sidenav */
.app-sidenav .mat-nav-list,
.app-sidenav .mat-expansion-panel,
.app-sidenav .mat-expansion-panel-header,
.app-sidenav .mat-list-item {
    background-color: #A8CF45 !important;
}

/* Contenedor del router-outlet */
.router-outlet-container {
    flex-grow: 1; /* Permite que el router-outlet ocupe el espacio restante */
    overflow-y: auto;

    box-sizing: border-box;
}

/* Ajuste cuando el sidenav está cerrado */
.mat-sidenav-closed + .router-outlet-container {
    margin-left: 0;
}

/* Barra de navegación */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A8CF45;
    z-index: 1000;
}
