html, body, mat-sidenav-container {
    height: 100%;
    margin: 0;
}

.app-container {
    background-color: #FFFFFF;
    height: 100vh;

}

.app-sidenav {
    background-color: #A8CF45;
    width: 230px;
    height: 100vh;
    padding-top: 70px; /* Ajusta este valor si es necesario */
}

.app-sidenav-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
padding-bottom: 50px; 
padding-top: 100px; 

}

.nav {
    background-color: #A8CF45;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Fija la barra de navegación */
    top: 0; /* Se mantiene en la parte superior */
    left: 0; /* Se alinea a la izquierda */
    right: 0; /* Se alinea a la derecha */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */

}

.menu-button, .logout-button {
    display: flex;
    align-items: center;
}

.title {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

.item {
    background-color: #A8CF45;
}