<div>
    <mat-toolbar class="nav" *ngIf="isLoggedIn">
        <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu" [disabled]="!isLoggedIn">   
            <mat-icon>menu</mat-icon>
        </button>
        <h1>INVENTARIO DE COMPRAS</h1>
        <button style="align-items: end;" (click)="logout()" routerLink="/login">
            <mat-icon mat-icon-button>logout</mat-icon>
        </button>
    </mat-toolbar>

    <div class="main-container">
        <mat-sidenav-container class="app-container">
            <!-- Sidenav -->
            <mat-sidenav #sidenav mode="side" class="app-sidenav">
                <mat-nav-list>
                    <mat-expansion-panel class="item">
                        <mat-expansion-panel-header>Seguridad</mat-expansion-panel-header>
                        <mat-nav-list>
                            <a mat-list-item routerLink="/usuarios" (click)="sidenav.toggle()">Usuarios</a>
                            <a mat-list-item routerLink="/grupousuarios" (click)="sidenav.toggle()">Grupos</a>
                        </mat-nav-list>
                    </mat-expansion-panel>
                    <mat-expansion-panel class="item">
                        <mat-expansion-panel-header>Movimientos</mat-expansion-panel-header>
                        <mat-nav-list>
                            <a mat-list-item routerLink="/recepcion_materiales" (click)="sidenav.toggle()">Recepción de Materiales</a>
                        </mat-nav-list>
                        <!-- <mat-nav-list>
                            <a mat-list-item routerLink="/despacho_materiales" (click)="sidenav.toggle()">Despacho de Materiales</a>
                        </mat-nav-list> -->
                    </mat-expansion-panel>
                    <mat-expansion-panel class="item">
                        <mat-expansion-panel-header>Parámetros</mat-expansion-panel-header>
                        <mat-nav-list>
                            <a mat-list-item routerLink="/proveedores" (click)="sidenav.toggle()">Proveedores</a>
                            <a mat-list-item routerLink="/insumos" (click)="sidenav.toggle()">Insumos</a>
                            <a mat-list-item routerLink="/destinatario" (click)="sidenav.toggle()">Destinatario</a>
                        </mat-nav-list>
                    </mat-expansion-panel>
                </mat-nav-list>
            </mat-sidenav>
        </mat-sidenav-container>
        
        <!-- Router Outlet colocado debajo del sidenav -->
        <div class="router-outlet-container">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
