<div>

    <!-- Modal para agregar Insumo -->
    <div class="modal fade" id="agregarInsumo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-success" id="exampleModalLabel">Agregar Insumo</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <form [formGroup]="InsumoForm" (ngSubmit)="submitForm()">
              <div class="mb-3">
                <label for="codigointerno" class="form-label text-success">Código Interno:</label>
                <input id="codigointerno" formControlName="CodInterno" type="number" class="form-control" />
                <div *ngIf="InsumoForm.get('CodInterno')?.invalid && InsumoForm.get('CodInterno')?.touched" class="text-danger">
                  Código Interno es requerido
                </div>
              </div>

              <div class="mb-3">
                <label for="descripcion" class="form-label text-success">Descripción:</label>
                <input id="descripcion" formControlName="Descripcion" type="text" class="form-control" />
                <div *ngIf="InsumoForm.get('Descripcion')?.invalid && InsumoForm.get('Descripcion')?.touched" class="text-danger">
                  Descripción es requerida
                </div>
              </div>

              <button type="submit" [disabled]="InsumoForm.invalid" class="btn btn-success w-100">Enviar</button>
            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Título de la lista de insumos -->
    <h2 class="mt-4 text-success text-center">Lista de Insumos</h2>

    <!-- Botón para agregar insumo -->
    <div class="text-center mb-3">
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#agregarInsumo">
            Agregar Insumo
        </button>
    </div>

    <!-- Tabla de insumos -->
    <div class="table-responsive w-100">
      <table class="table table-striped table-hover table-bordered">
        <thead class="table-success">
          <tr>
            <th scope="col">Id_Material</th>
            <th scope="col">Código Interno</th>
            <th scope="col">Descripción</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Insumo of Insumos">
            <td>{{ Insumo.IdInsumosMat }}</td>
            <td>{{ Insumo.CodInterno }}</td>
            <td>{{ Insumo.Descripcion }}</td>
            <td>
                <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                (click)="editarInsumo(Insumo)" data-bs-target="#modificarInsumos">
                Modificar
                </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Modal para modificar Insumos -->
    <div class="modal fade" id="modificarInsumos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5 text-success" id="exampleModalLabel">Modificar Insumo</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <form [formGroup]="modificarInsumosForm" (ngSubmit)="submitModificarForm()">
              <div class="mb-3">
                <label for="codigointerno" class="form-label text-success">Código Interno:</label>
                <input id="codigointerno" formControlName="CodInterno" type="number" class="form-control" />
                <div *ngIf="modificarInsumosForm.get('CodInterno')?.invalid && modificarInsumosForm.get('CodInterno')?.touched" class="text-danger">
                  Código Interno es requerido
                </div>
              </div>

              <div class="mb-3">
                <label for="descripcion" class="form-label text-success">Descripción:</label>
                <input id="descripcion" formControlName="Descripcion" type="text" class="form-control"/>
                <div *ngIf="modificarInsumosForm.get('Descripcion')?.invalid && modificarInsumosForm.get('Descripcion')?.touched" class="text-danger">
                  Descripción es requerida
                </div>
              </div>

              <button type="submit" [disabled]="modificarInsumosForm.invalid" class="btn btn-success w-100">Enviar</button>
            </form>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>

</div>
