<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="./assets/logo1muni.jpg" class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-4">
                        <input id="mail" formControlName="mail" type="email" class="form-control form-control-lg"
                            placeholder="Enter a valid email address" />
                        <label class="form-label" for="mail">Email address</label>
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-3">
                        <input id="clave" formControlName="clave" type="password" class="form-control form-control-lg"
                            placeholder="Enter password"/>
                        <label class="form-label" for="clave">Password</label>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" [disabled]="loginForm.invalid" (click)="login()" data-mdb-button-init
                            data-mdb-ripple-init class="btn btn-success btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>