.full-screen {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.position-relative {
    position: relative;
}

.toggle-password-btn {
    position: absolute;
    right: 10px;
    top: 35%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}