<!-- --------------------------------------------------------------------------- -->

<div class="container my-4">
  <!-- Encabezado -->


  <!-- Modal de creación de recibo -->
  <div class="modal fade" id="agregarRecibo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-keyboard="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h3 class="modal-title text-success" id="exampleModalLabel">Nuevo Recibo</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="recepcionMaterialesForm" (ngSubmit)="submitForm()">
            <div class="mb-3">
              <label for="Fecha" class="form-label text-success">Fecha</label>
              <input id="Fecha" formControlName="Fecha" type="date" class="form-control" />
              <div
                *ngIf="recepcionMaterialesForm.get('Fecha')?.invalid && recepcionMaterialesForm.get('Fecha')?.touched"
                class="text-danger">
                Fecha es Requerido
              </div>
            </div>

            <div class="mb-3">
              <label for="Proveedor" class="form-label text-success">Proveedor:</label>
              <select id="SeleccionarProveedor" formControlName="IdProveedor" class="form-select">
                <option disabled>Seleccione el Proveedor</option>
                <option *ngFor="let proveedor of proveedores" value="{{proveedor.IdProvedor}}">{{proveedor.RazonSocial}}
                </option>
              </select>
              <div
                *ngIf="recepcionMaterialesForm.get('IdProveedor')?.invalid && recepcionMaterialesForm.get('IdProveedor')?.touched"
                class="text-danger">
                Seleccione un proveedor
              </div>
            </div>

            <div class="mb-3">
              <label for="NroRemito" class="form-label text-success">Numero de remito:</label>
              <input id="NroRemito" formControlName="NroRemito" type="number" class="form-control" />
              <div
                *ngIf="recepcionMaterialesForm.get('NroRemito')?.invalid && recepcionMaterialesForm.get('NroRemito')?.touched"
                class="text-danger">
                Ingresa un número válido
              </div>
            </div>

            <div class="mb-3">
              <label for="condventa" class="form-label text-success">Condicion de venta:</label>
              <input id="condventa" formControlName="CondVenta" type="text" class="form-control" />
              <div
                *ngIf="recepcionMaterialesForm.get('CondVenta')?.invalid && recepcionMaterialesForm.get('CondVenta')?.touched"
                class="text-danger">
                Condición requerida
              </div>
            </div>

            <div class="mb-3">
              <label for="numcompra" class="form-label text-success">Numero de orden de compra:</label>
              <input id="numcompra" formControlName="NroOrdenCompra" type="number" class="form-control" />
              <div
                *ngIf="recepcionMaterialesForm.get('NroOrdenCompra')?.invalid && recepcionMaterialesForm.get('NroOrdenCompra')?.touched"
                class="text-danger">
                Número requerido
              </div>
            </div>

            <div class="mb-3">
              <label for="firma" class="form-label text-success">Firma digital:</label>
              <input id="firma" formControlName="FirmaDigital" type="text" class="form-control" />
              <div
                *ngIf="recepcionMaterialesForm.get('FirmaDigital')?.invalid && recepcionMaterialesForm.get('FirmaDigital')?.touched"
                class="text-danger">
                Firma requerida
              </div>
            </div>

            <div class="mb-3">
              <label for="numfactura" class="form-label text-success">Numero de factura:</label>
              <input id="numfactura" formControlName="NroFact" type="number" class="form-control" />
              <div
                *ngIf="recepcionMaterialesForm.get('NroFact')?.invalid && recepcionMaterialesForm.get('NroFact')?.touched"
                class="text-danger">
                Número requerido
              </div>
            </div>

            <button type="submit" [disabled]="recepcionMaterialesForm.invalid"
              class="btn btn-success w-100">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Tabla de recibos -->
  <h2 class="text-center text-success mt-5">Recibos</h2>

  <!-- Botón para abrir el modal de creación de recibo -->
  <div class="text-center mb-3">
    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#agregarRecibo">
      Agregar Recibo
    </button>
  </div>
  <div class="table-responsive w-100">
    <table class="table table-bordered table-striped table-hover text-center">
      <thead class="table-success">
        <tr>
          <th scope="col">ID Recibo</th>
          <th scope="col">Fecha</th>
          <th scope="col">N° Remito</th>
          <th scope="col">Condición de Venta</th>
          <th scope="col">N° Orden de Compra</th>
          <th scope="col">Firma Digital</th>
          <th scope="col">N° Factura</th>
          <th scope="col">Proveedor</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let recibo of cabeceraRecibo">
          <td>{{ recibo.IdRecibo_Recepcion }}</td>
          <td>{{ recibo.Fecha }}</td>
          <td>{{ recibo.NroRemito }}</td>
          <td>{{ recibo.CondVenta }}</td>
          <td>{{ recibo.NroOrdenCompra }}</td>
          <td>{{ recibo.FirmaDigital }}</td>
          <td>{{ recibo.NroFact }}</td>
          <td>{{ recibo.RazonSocial }}</td>
          <td>
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
              (click)="editarRecepcionMateriales(recibo)" data-bs-target="#modificarRecepcionMateriales">
              <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="border_color"></mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal de modificación de recibo -->
  <div class="modal fade" id="modificarRecepcionMateriales" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h3 class="modal-title text-success" id="exampleModalLabel">Modificar Recibo</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="modificarRecepcionMaterialesForm" (ngSubmit)="submitModificarForm()">
            <div class="row">
              <div class="col-md-6 mb-2">
                <label for="Fecha" class="form-label text-success">Fecha</label>
                <input id="Fecha" formControlName="Fecha" type="date" class="form-control form-control-sm" />
                <div
                  *ngIf="recepcionMaterialesForm.get('Fecha')?.invalid && recepcionMaterialesForm.get('Fecha')?.touched"
                  class="text-danger">
                  Fecha es requerida
                </div>
              </div>

              <div class="col-md-6 mb-2">
                <label for="Proveedor" class="form-label text-success">Proveedor</label>
                <select id="SeleccionarProveedor" formControlName="IdProveedor" class="form-select form-select-sm">
                  <option disabled>Seleccione el Proveedor</option>
                  <option *ngFor="let proveedor of proveedores" value="{{proveedor.IdProvedor}}">
                    {{proveedor.RazonSocial}}</option>
                </select>
                <div
                  *ngIf="recepcionMaterialesForm.get('IdProveedor')?.invalid && recepcionMaterialesForm.get('IdProveedor')?.touched"
                  class="text-danger">
                  Seleccione un proveedor
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-2">
                <label for="NroRemito" class="form-label text-success">Número de remito:</label>
                <input id="NroRemito" formControlName="NroRemito" type="number" class="form-control form-control-sm" />
                <div
                  *ngIf="recepcionMaterialesForm.get('NroRemito')?.invalid && recepcionMaterialesForm.get('NroRemito')?.touched"
                  class="text-danger">
                  Ingresa un número válido
                </div>
              </div>

              <div class="col-md-6 mb-2">
                <label for="condventa" class="form-label text-success">Condición de venta:</label>
                <input id="condventa" formControlName="CondVenta" type="text" class="form-control form-control-sm" />
                <div
                  *ngIf="recepcionMaterialesForm.get('CondVenta')?.invalid && recepcionMaterialesForm.get('CondVenta')?.touched"
                  class="text-danger">
                  Condición requerida
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-2">
                <label for="numcompra" class="form-label text-success">Número de orden de compra:</label>
                <input id="numcompra" formControlName="NroOrdenCompra" type="number"
                  class="form-control form-control-sm" />
                <div
                  *ngIf="recepcionMaterialesForm.get('NroOrdenCompra')?.invalid && recepcionMaterialesForm.get('NroOrdenCompra')?.touched"
                  class="text-danger">
                  Número requerido
                </div>
              </div>

              <div class="col-md-6 mb-2">
                <label for="firma" class="form-label text-success">Firma digital:</label>
                <input id="firma" formControlName="FirmaDigital" type="text" class="form-control form-control-sm" />
                <div
                  *ngIf="recepcionMaterialesForm.get('FirmaDigital')?.invalid && recepcionMaterialesForm.get('FirmaDigital')?.touched"
                  class="text-danger">
                  Firma requerida
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 mb-2">
                <label for="numfactura" class="form-label text-success">Número de factura:</label>
                <input id="numfactura" formControlName="NroFact" type="number" class="form-control form-control-sm" />
                <div
                  *ngIf="recepcionMaterialesForm.get('NroFact')?.invalid && recepcionMaterialesForm.get('NroFact')?.touched"
                  class="text-danger">
                  Número requerido
                </div>
              </div>
            </div>

            <button type="submit" [disabled]="modificarRecepcionMaterialesForm.invalid"
              class="btn btn-success w-100 mt-2">Guardar Cambios</button>
          </form>

          

          <!-- Tabla de detalles -->
          <div class="table-responsive" style="margin-top: 30px;">
            <h2 style="display: flex; justify-content: center;">Detalles</h2>
            
            <table class="table">
              <thead class="table-success">
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Id_Recibo</th>
                  <th scope="col">Insumo</th>
                  <th scope="col">Cantidad</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let detalle of Detalles">
                  <td>{{ detalle.IdDetalleRecRecepcion }}</td>
                  <td>{{ detalle.IdRecibo_Recepcion }}</td>
                  <td>{{ detalle.Descripcion }}</td>
                  <td>{{ detalle.Cantidad }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <form [formGroup]="DetallesRecForm" (ngSubmit)="submitDetailForm()">
            <h2>Agregar Detalle</h2>
            <div class="row">
              <div class="col-md-6 mb-2">
                <label for="NroRemito" class="form-label text-success">Materiales:</label>
                <select id="Material" formControlName="IdInsumosMat" class="form-select form-select-sm">
                  <option disabled>Seleccione el Insumo</option>
                  <option *ngFor="let Insumo of Insumos" value="{{Insumo.IdInsumosMat}}">{{Insumo.Descripcion}}</option>
                </select>
                <div
                  *ngIf="DetallesRecForm.get('IdInsumosMat')?.invalid && DetallesRecForm.get('IdInsumosMat')?.touched"
                  class="text-danger">
                  Seleccione un material
                </div>
              </div>

              <div class="col-md-6 mb-2">
                <label for="Cantidad" class="form-label text-success">Cantidad</label>
                <input id="Cantidad" formControlName="Cantidad" type="number" class="form-control form-control-sm" />
                <div
                  *ngIf="DetallesRecForm.get('Cantidad')?.invalid && DetallesRecForm.get('Cantidad')?.touched"
                  class="text-danger">
                  Cantidad requerida
                </div>
              </div>
            </div>


            <button type="submit" [disabled]="DetallesRecForm.invalid" class="btn btn-success w-100">Guardar
              Detalle</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>