<div class="container my-4">
  <!-- Encabezado -->


  <!-- Modal de creación de grupo usuario -->
  <div class="modal fade" id="crearGrupoUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title text-success" id="exampleModalLabel">Nuevo Grupo </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="GrupousuarioForm" (ngSubmit)="submitForm()">
            <div class="mb-3">
              <label for="NombreUsuario" class="form-label text-success">Descripción:</label>
              <input id="NombreUsuario" formControlName="Descripcion" type="text" class="form-control" />
              <div *ngIf="GrupousuarioForm.get('Descripcion')?.invalid && GrupousuarioForm.get('Descripcion')?.touched"
                   class="text-danger">
                Descripción es requerida
              </div>
            </div>
            <button type="submit" [disabled]="GrupousuarioForm.invalid" class="btn btn-success w-100">Enviar</button>
          </form>
        </div>
        <div class="modal-footer bg-light">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Tabla de Grupo Usuarios -->
  <h2 class="text-center text-success mt-5">Lista de Grupos</h2>

    <!-- Botón para abrir el modal de creación de grupo usuario -->
    <div class="text-center mb-3">
      <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#crearGrupoUsuario">
        Agregar
      </button>
    </div>
    
  <div class="table-responsive w-100">
    <table class="table table-bordered table-striped table-hover">
      <thead class="table-success">
        <tr>
          <th scope="col">IdGrupo</th>
          <th scope="col">Descripción</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Grupousuario of GrupoUsuarios">
          <td>{{ Grupousuario.IdGrupo }}</td>
          <td>{{ Grupousuario.Descripcion }}</td>
          <td>
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                    (click)="editarGrupoUsuario(Grupousuario)" data-bs-target="#modificarGrupoUsuario">Modificar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal de modificación de grupo usuario -->
  <div class="modal fade" id="modificarGrupoUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title text-success" id="exampleModalLabel">Modificar Grupo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="modificarGrupoUsuarioForm" (ngSubmit)="submitModificarForm()">
            <div class="mb-3">
              <label for="modificarDescripcion" class="form-label text-success">Descripción:</label>
              <input id="modificarDescripcion" formControlName="Descripcion" type="text" class="form-control" />
            </div>
            <button type="submit" [disabled]="modificarGrupoUsuarioForm.invalid" class="btn btn-success w-100">Guardar Cambios</button>
          </form>
        </div>
        <div class="modal-footer bg-light">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JS y Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
