<div>
  <h2>Crear Grupo Usuario</h2>
  <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#crearGrupoUsuario">
    Agregar Usuario
  </button>

  <!-- Modal de creación de grupo usuario -->
  <div class="modal fade" id="crearGrupoUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <form [formGroup]="GrupousuarioForm" (ngSubmit)="submitForm()">
            <div>
              <label for="Descripcion">Descripción:</label>
              <input id="Descripcion" formControlName="Descripcion" type="text" />
              <div *ngIf="GrupousuarioForm.get('Descripcion')?.invalid && GrupousuarioForm.get('Descripcion')?.touched">
                La descripción es requerida
              </div>
            </div>
            <button type="submit" [disabled]="GrupousuarioForm.invalid">Enviar</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Tabla de grupo usuarios -->
  <h2>Lista de Grupo Usuarios Registrados</h2>
  <table class="table table-striped table-hover">
    <thead style="background-color: blue;">
      <tr>
        <th scope="col">IdGrupo</th>
        <th scope="col">Descripción</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let Grupousuario of GrupoUsuarios">
        <td>{{ Grupousuario.IdGrupo }}</td>
        <td>{{ Grupousuario.Descripcion }}</td>
        <td>
          <button type="button" class="btn btn-outline-primary" (click)="editarGrupoUsuario(Grupousuario)"
            data-bs-toggle="modal" data-bs-target="#modificarGrupoUsuario">Modificar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Modal de modificación de grupo usuario -->
  <div class="modal fade" id="modificarGrupoUsuario" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h2>Edite el grupo</h2>
          <form [formGroup]="modificarGrupoUsuarioForm" (ngSubmit)="submitModificarForm()">
            <div>
              <label for="Descripcion">Descripción:</label>
              <input id="Descripcion" formControlName="Descripcion" type="text" />
              <div
                *ngIf="modificarGrupoUsuarioForm.get('Descripcion')?.invalid && modificarGrupoUsuarioForm.get('Descripcion')?.touched">
                La descripción es requerida
              </div>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-outline-primary" [disabled]="modificarGrupoUsuarioForm.invalid">Enviar</button>
        </div>
      </div>
    </div>
  </div>
</div>